{% extends 'services/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

<div class="about" id="about">
	<div class="container">
		<h2 class="about__header">О компании</h2>
		<div class="about__text">Компания ООО «СпецТехноАльянс» выполняет все работы нулевого цикла строительства под ключ, включая инженерные изыскания. Для этого у нас имеются все необходимые допуски, высококвалифицированные специалисты и оборудование.</div>
		<div class="about__inner flex">
			<div class="about__left"><img class="about__image" src="{% static 'img/about-image.png' %}" alt=""></div>
			<div class="about__right">
				<div class="about__text_2"><strong>Компания работает на строительном рынке с 2015 года.</strong> За это время накоплен значительный опыт в строительной отрасли.</div>
				<div class="about__right-text">Использование современных технологий и опыт наших специалистов позволяют сократить сроки выполнения земляных работ и устройства фундаментов до 40% по сравнению с аналогичными предложениями на рынке, и выполнять работы качественно, в сжатые сроки на взаимовыгодных условиях. <br><br>Правила и порядок проведения инженерных изысканий регламентируется государственными стандартами действующими на территории РФ.</div>
			</div>
		</div>
	</div>
</div>
{% include 'services/include/docs.html' %}
<div class="benefits" id="benefits">
	<div class="container">
		<div class="benefits-items flex">
			<div class="benefits__item">
				<h2 class="benefits__header">Еще несколько причин начать работать с нами</h2>
			</div>
			<div class="benefits__item">Работаем в неблагоприятных природно-техногенных условиях. Выполняем работы в условиях неустойчивого и водонасыщенного грунта, подтопляемых участках. Разрабатываем мероприятия инженерной защиты территории предполагаемого строительства.</div>
			<div class="benefits__item">Наши специалисты-проектировщики индивидуально под ваш объект предложат технические решения, которые обеспечат снижение затрат без ущерба качества работ с сохранением несущей способности оснований.</div>
			<div class="benefits__item">Наши специалисты-проектировщики индивидуально под ваш объект предложат технические решения, которые обеспечат снижение затрат без ущерба качества работ с сохранением несущей способности оснований.</div>
			<div class="benefits__item">Наши специалисты-проектировщики индивидуально под ваш объект предложат технические решения, которые обеспечат снижение затрат без ущерба качества работ с сохранением несущей способности оснований.</div>
			<div class="benefits__item">Наши специалисты-проектировщики индивидуально под ваш объект предложат технические решения, которые обеспечат снижение затрат без ущерба качества работ с сохранением несущей способности оснований.</div>
		</div>
	</div>
</div>

{% endblock content %}
